.contact__container {
  font-family: inter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: var(--contact-bg);
  .contact__header{
    padding-top: 1.2rem;
    text-align: center;
    width: 475px;
    .contact__header__title{
      font-size: 1.5rem;
      color: var(--contact-header-title);
    } 
  }
  .contact__content{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contact__methods{
      display: flex;
      flex-direction: row;
      .contact__methods__item{
        margin-right: 1rem;
        color: var(--contact-header-title);
      }
    }
  }
  
}
