.messagebar {
  animation: transitionIn 0.75s;
  font-family: inter,-apple-system,  sans-serif;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--msg-text);
  font-size: 1rem;
  background-color: var(--msg-bg);
  height: 3.3rem;
}
.messagebar a{
  color: var(--msg-link);

}

@media only screen and (max-width: 880px) {
  .messagebar {
    cursor: pointer;
    width: 100%;
    height: 2.3rem;
    // a { 
    //   display: none;
    // }
  }
}