.projects__container {
  animation: transitionIn 0.75s;
  background-color: var(--project-bg);
  font-family: inter, -apple-system,  sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
  .projects__header{
    padding-top: 1.2rem;
    text-align: center;
    width: 475px;
    transition: all 0.5s ease-in-out;
    .projects__header__title{
      font-size: 30px;
      color: var(--project-header-title);
    } 
    .projects__header__description{
      color: var(--project-header-description)
    }
  }
  .projects__content{
    transition: all 0.5s ease-in-out;
    padding-top: 1.2rem;
    text-align: left;
    width: 475px;
    .ant-timeline-item-content{
      transition: all .3s ease-in-out;
      .ant-card{
        background-color: var(--project-card-bg);
        border-color: var(--project-card-border);
        color: var(--project-card-text);
        cursor: default;
        .ant-card-head{
          border-color: var(--project-card-border);
          color: var(--project-card-header-text);
        }
      }
      .ant-card:hover{
        transform: scale(1.07);
      }
      .ant-card:hover ~ .ant-card{
        transform: scale(1.1);
      }
      
    }
    .ant-timeline{
      color: var(--project-timeline-text);
      .ant-timeline-item-tail{
        border-color: var(--project-timeline-border);
      }
      .ant-timeline-item-head{
        background-color: var(--project-bg);
      }
    }
  }
}
.ant-modal-body{
  // background-color: var(--project-modal-bg); 
  .slider_container{
    padding: 30px;
    padding-top: 0px;
    // color:var(--project-modal-title);
    .sider{
      padding:20px;
      overflow: hidden;
      // color: var(--project-modal-description);
      .resize-img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.slick-next::before{
  color: #000 !important;
  font-size: 25px !important;
}
.slick-prev::before{
  color: #000 !important;
  font-size: 25px !important;
}
@media only screen and (max-width: 680px) {
  .projects__header{
    width: 100% !important;
  }

  .projects__content{
    font-family: inter, -apple-system,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    text-align: left;
    width: 100% !important;
    .ant-timeline-item-content{
      .ant-card{
        width: 350px;
      }
    }
  }
}