.skills__container{
  animation: transitionIn 0.75s;
  font-family: inter, -apple-system,  sans-serif;
  background-color: var(--skills-bg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .skills__header{
    padding-top: 1.2rem;
    text-align: center;
    width: 31.6rem;
    transition: all 0.5s ease-in-out;
    .skills__header__title{
      font-size: 2rem;
      color: var(--skills-header-title);
      
    }
    .searchbar{
      font-size: 1rem;
      text-align: left;
    }
    
  }
  
  .skills__card__container{
    // background-color: red;
    transition: all 0.5s ease-in-out;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 70vw;
    display: grid;
    grid-gap: 2rem 2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    .skills__card{   
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border-radius: 0px;
      border: 1px solid var(--skill-card-border);
      background-color: var(--skills-card-bg);
      transition: all .5s ease-in-out;
      max-height: 9rem;
      width: 100%;
      overflow: hidden;
      .skills__card__title{
        font-size: 1.1rem;
        color: var(--skills-header-title);
        padding-top: 0.5rem;
        padding-bottom: 1.3rem;
        padding-left: 1rem;
      }
      .skills__card__description{
        font-size: 1rem;
        height: 4.3rem;
        color: var(--skills-card-description);
        padding-left: 1rem;
        transition: all .5s ease-in-out ;
      }
      .skills__card__skills{
        display: flex;
        justify-content: space-between;
        opacity: 0;
        height: 0rem;
        font-size: 1rem;
        color: var(--skills-card-description);
        padding-right: 3rem;
        padding-left: 1rem;
        // padding-top: 3rem;
        transition: all .3s ease-in ;
        
      }
      .skills__card__footer{
        font-size: 1rem;
        color: var(--skills-card-hover);
        text-align: right;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        transition: all .1s ease-in-out ;
      }
    }
    .skills__card:hover{
      max-height: 200rem;
      border: 1px solid var(--skills-card-hover);
      .skills__card__description{
        opacity: 0;
        height: 0rem;
      }
      .skills__card__skills{
        opacity: 1;
        height: 1.4rem;
        &:hover{
          background-color: var(--skills-item-hover);
        }
      }
      .skills__card__footer{
        opacity: 0;
        height: 1rem;
      }
    }
  }
  .skills__card__search__container{
    // position: absolute;
    // top: 0;
    padding-top: 3rem;
    padding-bottom: 5rem;
    width: 50vw;
    display: grid;
    grid-gap: 2rem 2rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    .search__card{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border-radius: 0px;
      border: 1px solid var(--skill-card-border);
      background-color: var(--skills-card-bg);
      transition: all .5s ease-in-out;
      height: auto;
      width: 100%;
      .search__card__title{
        font-size: 1.1rem;
        color: var(--skills-header-title);
        padding-top: 0.5rem;
        padding-bottom: 1.3rem;
        padding-left: 1rem;
      }
      .search__card__description{
        font-size: 1rem;
        color: var(--skills-card-description);
        height:auto;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
      }
      .search__card__skills{
        display: flex;
        justify-content: space-between;
        height: 2rem;
        font-size: 1rem;
        color: var(--skills-card-description);
        padding-right: 3rem;
        padding-left: 1rem;
        &:hover{
          background-color: #535252;
        }
      }
      
    }
    .search__card:hover{
      border-color: var(--skills-card-hover);
    }
  }

  .disappear {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .skills__header{
    width: 100% !important;
    .searchbar{
      width: 75%;
    }
  }
  .skills__card__container{
    // bac
    width: 90vw !important;
  }
  .skills__card__search__container{
    // bac
    width: 90vw !important;
  }
  
}
