:root{
  font-size: 15px;
  --white: #fff;
  --grey: #DCDCDC;
  --grey0: #3f3f3f;
  --grey1: #B7B7B7;
  --grey2: rgb(219, 219, 219);
  --dark-grey0: #707070;
  --dark-grey1: #7A7A7A;
  --dark-grey2: #444444;
  --dark-grey3: #293241;
  --dark-grey4: #8d8d8d;
  --dark-grey5: #E8E8E8;
  --dark-grey6: #E9E9E9;
  --light-grey: #F1F1F1;
  --light-grey1:#f0f0f0;
  --black0: #242424;
  --black1: #141414;
  --black: #000000;
  --black2:rgba(0, 0, 0, 0.65);
  --black3: rgba(0, 0, 0, 0.85);
  --black4: rgb(24, 24, 24);
  --black5: #1b1b1b;

  --black6:rgb(26, 26, 26);
  --blue0: rgb(73, 161, 250);
  --blue1: #3097FF;
  --blue2: rgb(0, 128, 255);
  --blue3: rgb(71, 161, 250);
  --transparent: rgba(0,0,0,0);
  --black7: #313131;
  --black8: #1f1e1e;
  --black9: rgb(158, 158, 158);
  --somegrey: #535252;
}
.light {
  --about-bg: var(--light-grey1);
  --about-text: var(--dark-grey4);
  --about-header: var(--black2);
  --footer-bg: var(--black5);
  --skills-bg: var(--light-grey);
  --skills-header-title: var(--black1);
  --skills-card-bg: var(--white);
  --skill-card-border: var(--grey2);
  --skills-card-description: var(--dark-grey1);
  --skills-card-hover: var(--blue1);
  --skills-item-hover:var(--dark-grey5);
  --contact-bg: var(--white);
  --contact-header-title: var(--black0);
  --project-bg: var(--white);
  --project-header-title: var(--black3);
  --project-header-description: var(--black3);
  --project-card-bg: var(--white);
  --project-card-border: var(--light-grey1);
  --project-card-header-text: var(--black3);
  --project-card-text: var(--black2);
  --project-timeline-text: var(--black2);
  --project-timeline-border: var(--light-grey1);

  --project-modal-bg: red;
  --project-modal-title: var(--black4);
  --project-modal-description: var(--black2);

  --nav-bg: var(--white);
  --nav-border: var(--grey);
  --nav-text: var(--dark-grey3);
  --nav-text-hover: var(--blue1);

  --msg-text: var(--dark-grey1);
  --msg-bg: var(--light-grey);
  --msg-border: var(--grey);
  --msg-link: var(--blue1);

  --hero-bg: var(--white);
  --hero-name: var(--black);
  --hero-name-hover: var(--blue2);
  --hero-description: var(--dark-grey2);
  --hero-contact-btn-text: var(--white);
  --hero-contact-btn-bg: var(--blue2);
  --hero-contact-btn-shadow: var(--dark-grey0);
  --hero-contact-btn-hover: var(--blue0);

  --hero-project-btn-text: var(--dark-grey0);
  --hero-project-btn-bg: var(--white);
  --hero-project-btn-shadow: var(--dark-grey0);
  --hero-project-btn-border: var(--dark-grey4);
}
.dark {
  --project-bg: var(--black1);
  --project-header-title: var(--white);
  --project-header-description: var(--dark-grey1);
  --project-card-bg: var(--black1);
  --project-card-border: var(--dark-grey2);
  --project-card-header-text: var(--grey);
  --project-card-text: var(--grey);
  --project-timeline-text: var(--dark-grey1);
  --project-timeline-border: var(--black0);
  --project-modal-bg: red;
  --project-modal-title: var(--white);
  --project-modal-description: var(--white);

  --footer-bg: var(--black5);
  --about-bg: var(--black8);
  --about-text: var(--black9);
  --about-header: var(--white);
  --msg-text: var(--grey);
  --msg-bg: var(--black3);
  --msg-border: var(--grey);
  --msg-link: var(--blue3);
  
  --skills-bg: var(--black4);
  --skills-header-title: var(--dark-grey6);
  --skills-card-bg: var(--black6);
  --skill-card-border: var(--grey0);
  --skills-card-description: var(--grey1);
  --skills-card-hover: var(--blue1);
  --skills-item-hover:var(--somegrey);

  --contact-bg: var(--black1);
  --contact-header-title: var(--white);
  --hero-bg: var(--black1);
  --hero-name: var(--grey);
  --hero-name-hover: var(--blue2);
  --hero-description: var(--dark-grey1);
  --hero-contact-btn-text: var(--white);
  --hero-contact-btn-bg: var(--blue2);
  --hero-contact-btn-shadow: var(--dark-grey2);
  --hero-contact-btn-hover: var(--blue0);
  --hero-project-btn-text: var(--white);
  --hero-project-btn-bg: var(--dark-grey2);
  --hero-project-btn-shadow: var(--dark-grey2);
  --hero-project-btn-border: var(--dark-grey2);
  --nav-bg: var(--black1);
  --nav-border: var(--dark-grey2);
  --nav-text: var(--grey);
  --nav-text-hover: var(--blue1);

  
  
  
}
html{
  scroll-behavior: smooth;
}
body {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  margin: 0;
  font-family: 'Inter', -apple-system,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .App{
  overflow-x: hidden !important;
} */
.nav-section{
  max-height: 79.5px;
  background-color: var(--nav-bg);
}
.msg-section{
  min-height: 49.5px;
  background-color: var(--msg-bg);
}
.hero-section{
  min-height: 400px;
  width: 100%;
  background-color: var(--hero-bg);
}
.skills-section{
  min-height: 400px;
  background-color: var(--skills-bg);
}
.projects-section{
  min-height: 400px;
  width: 100%;
  background-color: var(--project-bg);
}


code {
  font-family: source-code-pro, Consolas, monospace;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}